In [1]:
import pandas as pd
from pycaret.classification import *
from sklearn.model_selection import train_test_split

In [76]:
df = pd.read_csv('data/result4.csv')
# train = sample.drop(['사업장명'], axis=1)
# features = sample.loc[:, ['광역시코드', '평균연봉', 'joinlossratio']]

# train_features = features
# train_labels = sample['status']

In [78]:
df.drop((df[df['인원202009'] == 0]).index, inplace=True)

In [80]:
df['joinlossratio'] = df['2020상실'] / df['인원202009']

In [51]:
df['joinlossratio'].fillna(0)

0          0.166667
1          0.193548
2          0.333333
3          0.000000
4          0.277778
            ...
416541     0.000000
416542     0.400000
416543     0.142857
416544    10.000000
416545          inf
Name: joinlossratio, Length: 416546, dtype: float64

In [82]:
df[df['인원202009'] == 0]

Empty DataFrame
Columns: [사업장명, 도로명주소, 업종코드명, 2020신규, 2020상실, 예상평균연봉, 월급202001, 월급202002, 월급202003, 월급202004, 월급202005, 월급202006, 월급202007, 월급202008, 월급202009, 인원202001, 인원202002, 인원202003, 인원202004, 인원202005, 인원202006, 인원202007, 인원202008, 인원202009, joinlossratio]
Index: []

[0 rows x 25 columns]

In [86]:
df.to_csv('last.csv', index=False)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 376887 entries, 1 to 416544
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   사업장명           376887 non-null  object
 1   도로명주소          376887 non-null  object
 2   업종코드명          376887 non-null  object
 3   2020신규         376887 non-null  int64
 4   2020상실         376887 non-null  int64
 5   예상평균연봉         376887 non-null  int64
 6   월급202001       376887 non-null  int64
 7   월급202002       376887 non-null  int64
 8   월급202003       376887 non-null  int64
 9   월급202004       376887 non-null  int64
 10  월급202005       376887 non-null  int64
 11  월급202006       376887 non-null  int64
 12  월급202007       376887 non-null  int64
 13  월급202008       376887 non-null  int64
 14  월급202009       376887 non-null  int64
 15  인원202001       376887 non-null  int64
 16  인원202002       376887 non-null  int64
 17  인원202003       376887 non-null  int64
 18  인원202004       376887 non-null  int64
 19  인원202005       376887 non-null  int64
 20  인원202006       376887 non-null  int64
 21  인원202007       376887 non-null  int64
 22  인원202008       376887 non-null  int64
 23  인원202009       376887 non-null  int64
 24  joinlossratio  376887 non-null  float64
dtypes: float64(1), int64(21), object(3)
memory usage: 84.8+ MB

In [109]:
temp_df = df.loc[:, ['사업장명']]
temp_df.loc[0:50, :].to_csv('from0to50.csv', index=False)

In [98]:
df[df['사업장명']].loc[0:50, :].to_csv('from51to100.csv', index=False)