In [16]:
import pandas as pd

In [62]:
sample1 = pd.read_csv('data2/rerere.csv')
sample2 = pd.read_csv('data2/rerere2.csv')

In [63]:
sample1.info()
sample2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 482274 entries, 0 to 482273
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자료생성년월  482274 non-null  int64
 1   사업장명    482274 non-null  object
 2   도로명주소   482274 non-null  object
 3   업종코드명   471980 non-null  object
 4   가입자수    482274 non-null  int64
 5   고지금액    482274 non-null  int64
 6   신규      482274 non-null  int64
 7   상실      482274 non-null  int64
 8   인당고지금액  482274 non-null  float64
 9   평균월급    482274 non-null  float64
 10  평균연봉    482274 non-null  float64
dtypes: float64(3), int64(5), object(3)
memory usage: 40.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477371 entries, 0 to 477370
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자료생성년월  477371 non-null  int64
 1   사업장명    477371 non-null  object
 2   도로명주소   477371 non-null  object
 3   업종코드명   467221 non-null  object
 4   가입자수    477371 non-null  int64
 5   고지금액    477371 non-null  int64
 6   신규      477371 non-null  int64
 7   상실      477371 non-null  int64
 8   인당고지금액  477371 non-null  float64
 9   평균월급    477371 non-null  float64
 10  평균연봉    477371 non-null  float64
dtypes: float64(3), int64(5), object(3)
memory usage: 40.1+ MB

In [51]:
sample1.head(10)

,자료생성년월,사업장명,도로명주소,업종코드명,가입자수,고지금액,신규,상실,인당고지금액,평균월급,평균연봉
0,201912,우성기전(주),경기도 광주시 도척면 도척윗로,동력식 수지 공구 제조업,6,1029020,0,0,171503.333333,1.905593e+06,2.286711e+07
1,201912,서능공원묘지운영회(재),,화장터 운영 묘지 분양 및 관리업,13,3373320,0,0,259486.153846,2.883179e+06,3.459815e+07
2,201912,노들새마을금고,서울특별시 동작구 만양로,신용조합,11,3422840,0,0,311167.272727,3.457414e+06,4.148897e+07
3,201912,유창성업(주),인천광역시 서구 갑문2로,그 외 기타 분류 안된 사업 지원 서비스업(기타임가공,31,5662480,0,1,182660.645161,2.029563e+06,2.435475e+07
4,201912,희성전자(주),서울특별시 용산구 독서당로14길,비주거용 건물 임대업(점포 자기땅),504,203252700,6,9,403279.166667,4.480880e+06,5.377056e+07
5,201912,동성교역(주),서울특별시 강남구 테헤란로87길,화학섬유직물 직조업,6,1730300,0,1,288383.333333,3.204259e+06,3.845111e+07
6,201912,(주)태평양그랜드,경기도 파주시 직지길,스크린 인쇄업,27,7235900,0,0,267996.296296,2.977737e+06,3.573284e+07
7,201912,SK건설(주),서울특별시 종로구 인사동7길,기타 토목 시설물 건설업,4742,1955360620,23,53,412349.350485,4.581659e+06,5.497991e+07
8,201912,(주)태영건설,경기도 고양시 일산동구 정발산로,아파트 건설업,1365,551534360,21,20,404054.476190,4.489494e+06,5.387393e+07
9,201912,정하건설(주),전라북도 전주시 덕진구 송천중앙로,미장 타일 및 방수 공사업,11,1689780,1,2,153616.363636,1.706848e+06,2.048218e+07

In [61]:
sample1[(sample1['가입자수'] * 0.9 < sample1['상실']) & (sample1['평균연봉'] > 40000000)]

,자료생성년월,사업장명,도로명주소,업종코드명,가입자수,고지금액,신규,상실,인당고지금액,평균월급,평균연봉
397,201912,신촌상가(주),서울특별시 마포구 신촌로,비주거용 건물 임대업(점포 자기땅),3,1312200,0,3,437400.000000,4.860000e+06,5.832000e+07
660,201912,강동용역(주),서울특별시 강동구 천중로,건축물 일반 청소업,46,15317420,0,46,332987.391304,3.699860e+06,4.439832e+07
661,201912,남원산업(주),서울특별시 강동구 아리수로93길,지정 외 폐기물 수집 운반업,33,10109080,0,30,306335.757576,3.403731e+06,4.084477e+07
1209,201912,헤라우스오리엔탈하이텍(주),인천광역시 미추홀구 독배로,기타 반도체 소자 제조업,11,4463980,0,11,405816.363636,4.509071e+06,5.410885e+07
5500,201912,삼광가스테크(주),서울특별시 구로구 구로중앙로40가길,기체 연료 및 관련제품 도매업,5,1649400,0,5,329880.000000,3.665333e+06,4.398400e+07
...,...,...,...,...,...,...,...,...,...,...,...
482109,201912,삼정건설주식회사/일용/동인천중학교 다목적강당 및 급식소 증축공사 중 철근콘크리트공사,인천광역시 남동구 구월남로57번길,미장 타일 및 방수 공사업,5,2187000,5,5,437400.000000,4.860000e+06,5.832000e+07
482139,201912,선진산업설비(주)/상용/00부대 간부숙소 기계공사(재-6-2),경기도 광주시 오포읍 양벌로353번길,배관 및 냉ㆍ난방 공사업,4,1663200,4,4,415800.000000,4.620000e+06,5.544000e+07
482219,201912,유담종합건설(주)-(일용)삽교천삽교지구하천환경정비사업중조경시설물(5차),,조경 건설업,3,1210500,3,3,403500.000000,4.483333e+06,5.380000e+07
482263,201912,갑을통신（주）/일용/2019년 언양울성남 7월 태풍 다나스 피해 복구 선로공사,울산광역시 울주군 온산읍 해맞이로,배관 및 냉ㆍ난방 공사업,5,1555540,5,5,311108.000000,3.456756e+06,4.148107e+07
482268,201912,은산건업(주)/일용/고덕자이(서울)AL공사,서울특별시 강동구 구천면로,금속 문 창 셔터 및 관련제품 제조업,3,969740,3,3,323246.666667,3.591630e+06,4.309956e+07

In [53]:
sample1[(sample1['가입자수'] * 0.8 < sample1['상실']) & (sample1['가입자수'] * 0.9 > sample1['상실'])]

,자료생성년월,사업장명,도로명주소,업종코드명,가입자수,고지금액,신규,상실,인당고지금액,평균월급,평균연봉
737,201912,중앙양행(주),경기도 부천시 길주로412번길,모자 제조업,6,1211640,0,5,201940.000000,2.243778e+06,2.692533e+07
2855,201912,생고뱅코리아홀딩스 주식회사,서울특별시 강남구 테헤란로,지주회사,116,47182000,0,100,406741.379310,4.519349e+06,5.423218e+07
3541,201912,(주)케이디알한국기업서비스,서울특별시 중구 퇴계로,고용 알선업,364,57673420,4,327,158443.461538,1.760483e+06,2.112579e+07
3627,201912,선진프린팅(주),서울특별시 중구 퇴계로36나길,스크린 인쇄업,11,3481480,0,9,316498.181818,3.516646e+06,4.219976e+07
4695,201912,한독광학(주),서울특별시 서초구 신반포로45길,안경 사진장비 및 광학용품 도매업,14,3451000,0,12,246500.000000,2.738889e+06,3.286667e+07
...,...,...,...,...,...,...,...,...,...,...,...
478287,201912,(주)청수엔지니어링-(일용)천지선학원 신축공사 중 소방설비 공사,,시설물 유지관리 공사업,7,2241880,6,6,320268.571429,3.558540e+06,4.270248e+07
478771,201912,디에이치아이(주）/일용/보령LNGTerminalProject2-2단계205탱크및보온...,,미장 타일 및 방수 공사업,7,714100,3,6,102014.285714,1.133492e+06,1.360190e+07
479469,201912,유한회사삼익지우,광주광역시 서구 상무대로956번길,도배 실내 장식 및 내장 목공사업,7,1694700,0,6,242100.000000,2.690000e+06,3.228000e+07
479879,201912,수원시팔달구청(생활안전과),경기도 수원시 팔달구 창룡대로,비주거용 건물 임대업(점포 자기땅),7,1310400,2,6,187200.000000,2.080000e+06,2.496000e+07
481248,201912,주식회사천우에스엔씨-(일용)더 메이 관광호텔 신축공사(건축)중 철골공사,전라북도 전주시 덕진구 솔내로,기타 물품 취급장비 제조업,11,2549700,0,9,231790.909091,2.575455e+06,3.090545e+07

,index,자료생성년월,사업장명,도로명주소,업종코드명,가입자수,고지금액,신규,상실,인당고지금액,평균월급,평균연봉
0,0,201912,우성기전(주),경기도 광주시 도척면 도척윗로,동력식 수지 공구 제조업,6,1029020,0,0,171503.333333,1.905593e+06,2.286711e+07
1,1,201912,서능공원묘지운영회(재),,화장터 운영 묘지 분양 및 관리업,13,3373320,0,0,259486.153846,2.883179e+06,3.459815e+07
2,2,201912,노들새마을금고,서울특별시 동작구 만양로,신용조합,11,3422840,0,0,311167.272727,3.457414e+06,4.148897e+07
3,3,201912,유창성업(주),인천광역시 서구 갑문2로,그 외 기타 분류 안된 사업 지원 서비스업(기타임가공,31,5662480,0,1,182660.645161,2.029563e+06,2.435475e+07
4,4,201912,희성전자(주),서울특별시 용산구 독서당로14길,비주거용 건물 임대업(점포 자기땅),504,203252700,6,9,403279.166667,4.480880e+06,5.377056e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
482269,482269,201912,(주)성진전설/일용/포항시 남구 지곡동966-2 단독주택신축공사 중 전기공사,경상북도 포항시 남구 지곡로357번길,배관 및 냉ㆍ난방 공사업,3,391500,3,0,130500.000000,1.450000e+06,1.740000e+07
482270,482270,201912,대호전기주식회사/일용/계림 I PARK SK VIEW 중 옥외 임시동력공사,,배관 및 냉ㆍ난방 공사업,6,2115440,6,0,352573.333333,3.917481e+06,4.700978e+07
482271,482271,201912,（주）보림프러스/(일용)2015년 서수원 수인선 2-1공구 복선전철 원인자 지장이전...,경기도 수원시 권선구 수인로,배관 및 냉ㆍ난방 공사업,7,1753200,7,0,250457.142857,2.782857e+06,3.339429e+07
482272,482272,201912,(유)동명건설/일용/탑무인텔 증축공사,광주광역시 동구 서석로7번길,아파트 건설업,7,1767140,7,0,252448.571429,2.804984e+06,3.365981e+07
482273,482273,201912,부경엔지니어링(주)-(일용)4차AMI 통신망 구축공사(1권역),,기타 엔지니어링 서비스업,14,3591000,14,0,256500.000000,2.850000e+06,3.420000e+07